// @import url(http://fonts.googleapis.com/css?family=Fenix|Antic+Slab|Poiret+One|Montez|Flamenco);
//  src: local("Dr Sugiyama Regular"), 
// local("DrSugiyama-Regular")
// }

$calm_blue : rgba(60, 110, 201, 0.7);
$url_blue : #4183c4;
$desat_green : desaturate(#758918, 40%);
$desat_brown : #87683B;
$charcoal_blue : #324079;

@font-face
{
	font-family: 'Flamenco';
	src: url('../fonts/Flamenco/Flamenco-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'OpenSans';
	src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype'),
	url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype'),
	url('../fonts/Open_Sans/OpenSans-Italic.ttf') format('truetype')
	;
}
@font-face
{
	font-family: 'SourceCodePro';
	src: 
	url('../fonts/SourceCodePro/SourceCodePro-Regular.ttf') format('truetype'),
	url('../fonts/SourceCodePro/SourceCodePro-Bold.ttf') format('truetype'),
	url('../fonts/SourceCodePro/SourceCodePro-Light.ttf') format('truetype'),
	url('../fonts/SourceCodePro/SourceCodePro-Black.ttf') format('truetype')
	;
}

	

html, body {
  height:100%;
  width: 100%;
  background-color: white;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


.container {
	width: 100%;
	height: 100%;
}

span.date {
	background-color: $charcoal_blue;
	color: white;
	float: right;
	padding: 0 0.5em;
	border-radius: 0.4em;
}

a {
	color: $url_blue;
	text-decoration: none;
	a:link {
		-webkit-tap-highlight-color: rgba(229,59,44,.4);
	}
	&:hover {
		padding-bottom: .07em;
		border-bottom: .2em dashed rgba(0,0,0,.1);
	}
}


.main {
	font-family: OpenSans;
	.section {
		.item {
			font-family: OpenSans;
			float: left;
			width: 30em;
			height: 13em;
			position: relative;
			margin-right: 0.2em;
			.icon {
				float: left;
				color: $calm_blue;
			}
			.description {
				float: left;
				width: 20em;
			}
			span.fill {
				position:absolute;
				z-index: 20;
				top:0;
				left:0;
				width: 100%;
				height: 100%;

                &:hover {
                	cursor: pointer;
            	}             
            }         
        }    
    }     
    .content {         
    	clear: both;
    	.date {
    		font-family: SourceCodePro;
		}
		h3 {         }
		li {
			font-family: SourceCodePro;
			list-style-image:url(img/bullet.jpg);         
		}         
		.discrete {             
			font-weight:normal;
			font-style: italic;
		}         
		.indent {
			text-indent: 2em;         
		}         
		.pro, .med, .nov {             
			padding:0.2em 1em;             
			border-radius: 1em;         
		}         
		.pro {
			background-color: darkslategray;             
			color: white;
		}
		.med {
			background-color: darkcyan;             
			color: white;
		}         
		.nov {             
			background-color: lightblue;         
		}
		.graph {
			background-color: lightcoral; 
			height: 1em; 
			border-radius: 2em;
			&:before {
				content: ' ';
				background-color: lightcoral;
				width: 2em;
				height: 1em;
				display: block;
			}
		}
		.shiftedUp {
			margin-top: -1em;
		}

	}
}

.centered {
	/* Vertically centred dynamically */
	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;
	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	/* Safari, Opera, and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
	height: 100%;
}

.header-container {
	height: 100%;
	.title-container {
		width: 25em;
		margin:0 auto;
		position: relative;

		#gravatar {
			border-radius: 50%;
			&:hover, &.hover{
				box-shadow: 0 0 10px 3px white;
				cursor: pointer;
			}
		}
		#my-name {
			font-weight: normal;
			font-family: Flamenco;
			color: white;
			font-size: 4em;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			&:hover, &.hover{
				text-shadow: 0px 0px 15px white;
				cursor: pointer;
			}
		}
	}
}